{% extends 'base.html.twig' %}

{% block body %}
 <h2 class="text-center text-danger">Vous n'êtes pas authentifié.</h2>

<div class="d-flex justify-content-center ">
    <a class="text-center link-underline-danger fs-5" href="/login">Page de login</a>
</div>


{% endblock %}